<%- include('partials/header') %>
  <div class="blog">
    <h2 class="postHead"> <%=blogPost.title%> </h2>
    <p class="postPara"> <%=blogPost.ParaA%> </p>
    <p class="postPara"> <%=blogPost.ParaB%> </p>
    <p class="postPara"> <%=blogPost.ParaC%> </p>
  </div>

<%- include('partials/footer') %>
